<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">JKLF</a>
        </div>
        <ul class="nav navbar-nav">
        <li class="active"><a href="/">Accueil</a></li>
        <li><a href="/movies">Films</a></li>
        <li><a href="/movie-search">Recherche</a></li>
        <li><a href="/inscription">inscription</a></li>
        <li><a><span id="connectionLink"></span></a></li>
        </ul>
    </div>
</nav>
