<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>JKLF PROJECT</title>
		<link rel="stylesheet" href="../public/css/basicStyle.css" />
		<link rel="stylesheet" href="../public/css/bootstrap.css">
		<link rel="icon" href="data:;base64,=">

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
<body>