<!DOCTYPE html>
<html>
<head>
	<title>Connexion</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/basicStyle.css">
</head>
<body class="text-center" background="img/freedom.png">
	<h1>JKLMinno</h1>
	<a href="index.html">Retour</a>
	<div class="container-content">
		<form>
		  <div class="form-group">
		    <label for="email">Adresse e-mail</label>
		    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Votre email">
		  </div>
		  <div class="form-group">
		    <label for="pwd">Mot de passe</label>
		    <input type="password" class="form-control" id="pwd" placeholder="Mot de passe">
		  </div>
		  <button type="submit" class="btn btn-primary">Connexion</button>
		</form>
	</div>
</body>
</html>