<% include ./partials/head %>  

<body class="text-center" background="img/freedom.png">
	<h1><%= title %></h1>
	<a id="movie" href="/movies?authentifications=bearer ">Movies</a>
	<div id="login" class="container-content">
		<div class="row">
			<div class="col-md-4  col-md-offset-2">
					<form id="formLogin">
							<div class="form-group">
								<label for="email">Adresse e-mail</label>
								<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Votre email">
							</div>
							<div class="form-group">
								<label for="pwd">Mot de passe</label>
								<input type="password" class="form-control" id="password" placeholder="Mot de passe">
							</div>
							<button type="submit" name="login" class="btn btn-block btn-primary">Connexion</button>
						</form>
			</div>
			<div class="col-md-4 col-md-offset-1">
					<div class="container-content-inscription">
							<form id="formInscription">
								<div class="askEntreprise">
										<p>Vous êtes une entreprise ?&nbsp;&nbsp;&nbsp;&nbsp;
											<input type="radio" name="ouiEntreprise" value="oui" id="radioOui" >
											<label for="radioOui">Oui</label>
											&nbsp;&nbsp;&nbsp;&nbsp;
											<input type="radio" name="nonEntreprise" value="non" id="radioNon" checked="checked" >
											<label for="radioNon">Non</label>
										</p>
									</div>
									<div id="container-entreprise">
										<div class="form-group">
											<label for="NomEntreprise">Nom de l'entreprise</label>
											<input type="password" class="form-control" id="NomEntreprise" placeholder="Le nom de votre entreprise">
										</div>
										<div class="form-group">
											<label for="siretNumber">Numéro de Siret</label>
											<input type="password" class="form-control" id="siretNumber" placeholder="Numéro de siret">
										</div>
									</div>
								<div class="form-group">
									<label for="prenom">Prénom</label>
									<input type="text" class="form-control" id="prenom" aria-describedby="emailHelp" placeholder="Votre prénom">
								</div>
								<div class="form-group">
									<label for="nom">Nom</label>
									<input type="text" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="Votre nom">
								</div>
								<div class="form-group">
									<label for="email">Adresse e-mail</label>
									<input type="email" class="form-control" id="emailInscription" aria-describedby="emailHelp" placeholder="Votre email">
								</div>
								<div class="form-group">
									<label for="pwd">Mot de passe</label>
									<input type="password" class="form-control" id="pwd" placeholder="Mot de passe">
								</div>
								<div class="form-group">
									<label for="confirmPwd">Confirmation mot de passe</label>
									<input type="password" class="form-control" id="confirmPwd" placeholder="Confirmez le mot de passe">
								</div>
								
								<button type="submit" id="subInscription" name="user" class="btn btn-block btn-success">Inscription</button>
							</form>
						</div>
			</div>
		</div>
		
	</div>


	<div id="profile" style="display:none">
		<button id="display-payload">voir le payload</button>
		<button id="disconnectBtn">déconnexion</button>
		<div id="decoded-payload"></div>
		<div>
				<a href="#" id="member-only">expace membre</a>
				<div id="member-data"></div>
		</div>
</div>

<% include ./partials/footer %>

