html,
body {
    background: #085078;
    /* fallback for old browsers */
    color: white;
}

div.container-content {
    margin-top: 50vh;
}

div.container-content p {
    font-size: 1.7em;
    font-weight: bold;
}

div.container-btn-access {
    margin-top: 3vh;
}

button.btn-linkedin {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-connexion,
.btn-inscription {
    margin-top: 5vh;
    padding-top: 15px;
    padding-bottom: 15px;
}

strong {
    font-size: 1.2em;
    position: relative;
    right: 50px;
}

a:hover,
a:focus,
a {
    color: white;
    text-decoration: none;
}

div#container-entreprise {
    display: none;
}